
html, body {
    padding: 0;
    margin: 0;
}

#main-wrapper{
    width:500px;
    margin:0 auto;
    background:white;
    border-radius:10px;
    border:2px solid #2c3e50;

}

.myform{
    width:450px;
    margin:0 auto;
}
.inputvalues{
    width:430px;
    margin:0 auto;
    padding:5px;
}
#login_button {
    margin-top: 10px;
    background-color: #8D6E63;
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
#register_button {
    margin-top: 10px;
    background-color: #03A9F4;
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom:20px;
}

#signup_button {
    margin-top: 10px;
    background-color: #03A9F4;
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

#back_button {
    margin-top: 10px;
    background-color: #4E342E;
    padding: 5px;
    color: white;
    width: 20%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
}
#logout_button {
    margin-top: 10px;
    background-color: #4E342E;
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
}

#bro_button {
    margin-top: 10px;
    background-color: #757575;
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}


.booking {
    font-size: 26px;
    text-align: center;
    color: #757575;
}


.avatar {
    width: 150px;
    text-align: center;
}


body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}










